


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;          /* full viewport width */
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo-ECHO{
    width:75px;
    cursor: pointer;
    fill: white;
}


.left {
    display: flex;
    align-items: center;
   
   width: 300px;
    justify-content: space-between;
}


.nav-links {
    font-size: 20px;
    display: flex;
    cursor: pointer;
    display: flex   ;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    
}

.search-box{
    display: flex;
    align-items: center;
    background-color:#F2F2F2;
    padding: 6px 15px;
    border-radius: 50px;
    width: 1200px;
}

.search-box input {
    flex: 1;                  /* fills remaining space */
    padding: 4px 8px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #003893;
    font-size: 16px;
}

/* Right section buttons */
.right {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  
}

.btn-signin {
  padding: 8px 20px;
  background-color: #F2F2F2;
  color: #6689A1;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-signin:hover {
  background-color: #DC143C;
  color: #003893;
}

.btn-register {
  padding: 8px 20px;
  background-color: #F2F2F2;
  color: #003893;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-register:hover {
  background-color: #003893;
  color: white;
  border-color: white;
}